.deps
config
Makefile
pipecolors.pc
tests/test
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.log
configure
m4
config.h
config.status
libtool
stamp-h1
# Ignore output files
.libs/
libpipecolors.pc
tests/
test/
src/libpipecolors-boost.cc
src/libpipecolors.la
src/libpipecolors.lo
src/libpipecolors.o

/timestamp
# Ignore backup files
*~
libpipecolors.h
