# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private

# Ignore default text files
.deps
config
/AUTHORS
Makefile
NEWS
pipecolors.pc
README
test
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.log
configure
m4
config.h
config.status
libtool
stamp-h1
# Ignore backup files
*~